.navbar {
  height: $grid-3-mobile;
  
  .navbar__inside {
    padding: $half-grid-mobile;
    display: flex;
    justify-content: space-between;
    height: 100%;
    
    .navbar__logo {
      img {
        height: 49px;
        width: 48px;
      }
    }
    
    .menu {
      .menu__hamburguer {
        height: 100%;
        width: $grid-2-mobile;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        cursor: pointer;
        
        .line {
          display: block;
          height: 2px;
          width: 100%;
          background-color: $primary;
        }
      }
      
      .menu__links {
        display: none;
        background: $white;
        
        .menu__link {
          padding: ($grid-1-mobile / 2) $grid-1-mobile;
          text-align: right;
          text-decoration: none;
          color: $grey-dark;
          font-family: $font-secondary;
        }
        
        .menu__link.active {
          background: $primary;
          color: $white;
        }        
      }
      
      .menu__links.active {
        display: flex;
        flex-direction: column;
        width: 100vw;
        position: absolute;
        right: 0;
        left: 0;
        padding-top: $grid-1-mobile;
        
      }
    }
  }
}

@media only screen and (min-width: $mobile-up) {
  .navbar {
    height: 103px;
    
    .navbar__inside {
      padding: 0 $half-grid-mobile;
      display: flex;
      justify-content: space-between;
      height: 100%;
      max-width: 65.625rem;
      margin: 0 auto;
      
      .navbar__logo {
        padding: $half-grid-mobile 0;

        img {
          width: 88px;
          height: 90.64px;
        }
      }
      
      .menu {
        height: 100%;
        
        .menu__hamburguer {
          display: none;
        }
        
        .menu__links,
        .menu__links.active {
          display: flex;
          flex-direction: row;
          max-width: $grid-12-desktop;
          height: inherit;
          width: auto;
          position: relative;
          right: auto;
          left: auto;
          padding: unset;

          .menu__link:hover {
            background: $primary-light;
            color: $white;
          }

          .menu__link {
            height: inherit;
            display: flex;
            align-items: center;
          }
        }
      }
    }
  }
}