.header-slide {
  .header-slide__controls {
    display: none;
  }
  
  .header-slide__items {
    .header-slide__item {
      display: flex;
      flex-direction: column;
      padding: 0 5px;
      
      .header-slide__item-content {
        margin-bottom: $grid-1-mobile;
        
        h2,p {
          color: $white;
          font-family: $font-primary;
        }
        h2 {
          font-size: $title-2;
          margin-bottom: $half-grid-mobile;
        }
        p {
          font-size: $content-medium;
          margin-bottom: $grid-1-mobile;
        }
      }
      .header-slide__item-image {
        text-align: center;
      }
    }
  }
  
  .header-slide__pagination {
    display: flex;
    justify-content: space-between;
    
    .header-slide__pagination-dots {
      display: flex;
      justify-content: center;
      max-width: $grid-6-desktop;
      width: 100%;
      margin: 0 auto;
      
      li {
        margin: 0 $half-grid-mobile;
        
        button {
          overflow: hidden;
          width: 30px;
          height: 3px;
          background: $black;
          color: $black;
          border: none;
        }
      }
      
      .slick-active {
        button {
          background: $white;
          color: $white;
        }
      }
    }
  }
}

@media only screen and (min-width: $mobile-up) {
  .header-slide {
    position: relative;
    
    .header-slide__controls {
      display: flex;
      position: absolute;
      width: 100%;
      height: 100%;
      justify-content: space-between;
      align-items: center;
      pointer-events: none;
      
      .header-slide__control {
        cursor: pointer;
        pointer-events: auto;
      }
      
      .header-slide__control.right {
        
      }
      
      .header-slide__control.left {
        
      }
    }
    
    .header-slide__items {
      margin: 0 auto;
      max-width: 80%;
      
      .header-slide__item.inverted {
        flex-direction: row-reverse;
      }
      
      .header-slide__item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        min-height: $grid-4-desktop;
        
        .header-slide__item-content.to-right {
          text-align: right;
          
          .button {
            margin-left: auto;
          }
        }
        
        .header-slide__item-content {
          margin-bottom: $grid-1-mobile;
          max-width: $grid-8-desktop;
          
          h2,p {
            color: $white;
            font-family: $font-primary;
          }
          h2 {
            font-size: $title-2;
          }
          p {
            font-size: $content-medium;
            margin-bottom: $grid-1-mobile;
          }
        }
        .header-slide__item-image {
          text-align: center;
        }
      }
    }
    
    .header-slide__pagination {
      
      .header-slide__pagination-dots {
        
        li {
          
          button {
            width: 50px;
            height: 5px;
          }
        }
      }
    }
  }
}