.tabs {
  .tabs__header {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    .tabs__item.active {
      background: $primary;
      color: $white;
    }
    
    .tabs__item {
      transition: all ($half-second / 2);
      padding: $half-grid-mobile $grid-1-mobile;
      text-align: center;
      font-family: $font-secondary;
      font-weight: bold;
      cursor: pointer;
    }
  }
  .tabs__body {
    .tab__content.active {
      display: block;
    }

    .tab__content {
      display: none;
    }
  }
}