.font-primary {
    font-family: $font-primary;
}

.font-secondary {
    font-family: $font-secondary;
}

.font-small {
    font-size: $content-small;
}

.font-medium {
    font-size: $content-medium;
}

.font-large {
    font-size: $content-large;
}