.row {
  margin: $grid-1-mobile 0;
}

.row.small {
  margin: $half-grid-mobile 0;
}

.p-grid-1 {
  padding: $grid-1-mobile;
}

.m-bottom-grid-1 {
  margin-bottom: $grid-1-mobile;
}



@media only screen and (min-width: $mobile-up) {
  .p-grid-1 {
    padding: $grid-1-desktop;
  }
}
