.page-header {
  padding: $grid-1-desktop 0;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  
  .page-header__title {
    font-family: $font-secondary;
    font-size: $title-2;
    color: $white;
  }
}

.page-header.empresa {
  background-image: url(../img/page-title-bg-empresa.png);
}

.page-header.contato {
  background-image: url(../img/page-title-bg-contato.png);
}

.page-header.historico {
  background-image: url(../img/page-title-bg-historico.png);
}

.page-header.linha-produtos {
  background-image: url(../img/page-title-bg-linha-produtos.png);
}

.page-header.mangueiras {
  background-image: url(../img/page-title-bg-mangueiras.png);
}

.page-header.servicos {
  background-image: url(../img/page-title-bg-servicos.png);
}
