.content-columns {
  display: flex;
  flex-direction: column;
  padding: $grid-1-mobile 0;

  .column.centered {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .column {
    padding: $half-grid-mobile;
    width: 100%;
  }
}

.content {
  padding: $half-grid-mobile 0;

  

  h5 {
    font-family: $font-secondary;
    font-size: $content-medium;
    font-weight: bold;
    margin-bottom: $half-grid-mobile;
  }

  p:not(:last-child) {
    margin-bottom: $grid-1-mobile;
  }
  p {
    font-family: $font-primary;
    font-size: $content-normal;
  }
}

@media only screen and (min-width: $mobile-up) {
  .content-columns {
    flex-direction: row;

    .column {
      width: 50%;
    }
  }
}