.linha-producao-slide {
  .linha-producao-slide__items {
    .linha-producao-slide__item {
      display: flex;
      flex-direction: column;
    
      .linha-producao-slide__item-image {
        position: relative;
        
        .linha-producao-slide__controls {
          position: absolute;
          width: 100%;
          display: flex;
          justify-content: space-between;
          height: 100%;
          align-items: center;
          padding: 20px;
          
          .linha-producao-slide__control {
            cursor: pointer;
            
            img {
              width: 15px;
            }
          }
        }
      }
      .linha-producao-slide__item-content.dark {
        background: $dark;
      }
      .linha-producao-slide__item-content {
        padding: $half-grid-desktop;
        background: $primary;
        text-align: center;
        
        h3, p {
          color: $white;
        }
        
        h3 {
          font-family: $font-secondary;
          font-size: $title-3;  
          margin-bottom: $grid-1-mobile;
        }
        p {
          margin-bottom: $grid-2-mobile;
          font-size: $content-medium;
          font-family: $font-primary;
        }
        .button {
          margin: 0 auto;
        }
      }
    }
  }
}

@media only screen and (min-width: $desktop-up) {
  .linha-producao-slide {
    .linha-producao-slide__items {
      .linha-producao-slide__item {
        flex-direction: row;
        
        .linha-producao-slide__item-image {
          width: 750px;
          
          .linha-producao-slide__controls {
            
            .linha-producao-slide__control {
              img {
                width: 20px;
              }
            }
          }
        }
        .linha-producao-slide__item-content {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 525px;
        }
      }
    }
  }
}