.missao-visao-valores {
  .missao-visao-valores__inside {
    .missao-visao-valores__boxes {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;

      .missao-visao-valores__box:hover {
        background: $primary;

        .missao-visao-valores__box-icon {
          svg {
            fill: $white;
          }
        }

        .missao-visao-valores__box-title,
        .missao-visao-valores__box-content { 
          color: $white;
        }
      }

      .missao-visao-valores__box {
        width: $grid-4-desktop;
        margin: $grid-1-mobile;
        padding: $grid-1-mobile $grid-2-mobile;
        text-align: center;
        transition: all $half-second;

        .missao-visao-valores__box-icon {
          padding-bottom: $grid-1-mobile;
          svg {

          }
        }

        .missao-visao-valores__box-title,
        .missao-visao-valores__box-content { 
          color: $black;
        }

        .missao-visao-valores__box-title {
          margin-bottom: $grid-1-mobile;
        
          h5 {
            font-family: $font-secondary;
            font-size: $title-2;
          }
        }
        
        .missao-visao-valores__box-content {
          font-family: $font-secondary;
          font-size: $content-normal;

          p {

          }
        }
      }
    }
  }
}