.responsaveis {
  .responsaveis__boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    .responsaveis__box {
      margin: $grid-1-mobile;
      width: 220px;
      
      .responsaveis__box-top {
        .responsaveis__card {
          .responsaveis__card-top {
            img {
              
            }
          }
          .responsaveis__card-bottom {
            background: $primary;
            text-align: center;
            margin-top: -4px;
            padding: $half-grid-mobile 0;
            
            .responsaveis__card-title,
            .responsaveis__card-subtitle {
              font-weight: bold;
              font-family: $font-secondary;  
            }
            
            .responsaveis__card-title {
              display: block;
              color: $white;
              margin-bottom: $half-grid-mobile / 2;
              font-size: $content-medium;
            }
            
            .responsaveis__card-subtitle {
              font-size: $content-normal;
            }
          }
        }
      }
      .responsaveis__box-bottom {
        padding: $grid-1-mobile 0;
        text-align: center;
        font-family: $font-primary;
        
        p {
          font-size: $content-normal * 0.9;
          margin-bottom: $half-grid-mobile / 2;
        }
      }
    } 
  }
}