.box {
  box-shadow: $box-shadow;
  display: flex;
  min-height: 376.27px;
  max-width: 375px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: $half-grid-desktop;
  
  .box__header {
    margin-bottom: $half-grid-desktop;
  }

  .box__body {
    text-align: center;
    font-family: $font-primary;
    font-size: $content-normal;
  }
}

.box.w-medium {
  max-width: 455px;
  width: 100%;
}

.box.h-unset {
  height: unset;
  min-height: unset;
}